@media screen and (min-width: 769px) {
    .container {
        width: 100%;
        max-width: 1140px;
    }
}

@media screen and (max-width: 768px) {
   .container {
       width: 100%;
   }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }

    .row {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .row .col {
        width: 100%;
    }

    .steps {
        margin-bottom: 0;
    }

    .why-us {
        background-color: #222222;
        padding-top: 3rem;
        margin-bottom: 0;
    }
}